In [2]:
import pandas as pd

In [3]:
 df = pd.read_csv("youtube.csv" ,header=None ,encoding = 'ISO-8859-1')

In [4]:
df.head()

,0,1,2,3
0,13E5azGDK1k,FINE ART Music and Painting PEACEFUL SELECTION...,CALM MELODIES AND BEAUTIFUL PICTURESDebussy M...,Art and Music
1,tsKlRF2Gw1s,The Great Masterpieces of Art & Music,Skip the art museum and come experience Great...,Art and Music
2,rrJbuF6zOIk,babyfirst art and music,NaN,Art and Music
3,5mWjq2BsD9Q,Improvised Piano Music and Emotional Art Thera...,When watching this special episode of The Perf...,Art and Music
4,x7HPg9eZRY0,Sanjeev Abhyankar | Rakesh Chaurasia | Hindust...,Sanjeev Abhyankar and Rakesh Chaurasia rendere...,Art and Music

In [5]:
df.describe()

,0,1,2,3
count,2729,2729,2581,2729
unique,2720,2699,2548,6
top,qmOD_1KRrpM,Science Technology and Society,Science Technology and Society MOOC NPTEL ...,Science and Technology
freq,2,4,4,657

In [7]:
df.columns = ["Video id " ,"Title" , "Description " , "Category"]

In [8]:
df.head()

,Video id,Title,Description,Category
0,13E5azGDK1k,FINE ART Music and Painting PEACEFUL SELECTION...,CALM MELODIES AND BEAUTIFUL PICTURESDebussy M...,Art and Music
1,tsKlRF2Gw1s,The Great Masterpieces of Art & Music,Skip the art museum and come experience Great...,Art and Music
2,rrJbuF6zOIk,babyfirst art and music,NaN,Art and Music
3,5mWjq2BsD9Q,Improvised Piano Music and Emotional Art Thera...,When watching this special episode of The Perf...,Art and Music
4,x7HPg9eZRY0,Sanjeev Abhyankar | Rakesh Chaurasia | Hindust...,Sanjeev Abhyankar and Rakesh Chaurasia rendere...,Art and Music

In [12]:
text = "hello my name is shailesh sharma and you have no rigth to underestimate me http://blogvlog.herokuapp.com  \n http://google.com"

In [13]:
import re
text = re.sub(r'^https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)